---
# only Main files contain this front matter, not partials.
---


/**
 * CSS Variables.
 */
$font-heading: Times New Roman, serif;
$bg-color: #f2eddb;
$base-text-color: #383838;
$size-ptext: 13px;
$font-ptext: Verdana, sans-serif;


@import 'base';
