---
# only Main files contain this front matter, not partials.
---


/**
 * CSS Variables.
 */
$font-heading: Times New Roman, serif;
$bg-color: #f5f5f5;
$base-text-color: #383838;
$size-ptext: 13px;
$font-ptext: Verdana, sans-serif;
$hover-color: #dd6193;


@import
    'base',
    'blog',
    'mobile'
;
