<head>
    <meta charset="UTF-8">
    <title>
        {% if page.title %}
            {{ page.title }} | {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
    <meta property="og:title" content="mhammarstedt" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mhammarstedt.github.io/" />
    <meta property="og:image" content="https://mhammarstedt.github.io/img/logo.jpg" />
    <meta property="og:description" content="A portfolio page for Miranda Hammarstedt." />
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}" >
    <link rel="author" href="humans.txt" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.baseurl }}/img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
