<head>
    <meta charset="UTF-8">
    <title>
        {% if page.title %}
            {{ page.title }} | {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
    <meta property="og:title" content="mhammarstedt" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.baseurl }}" />
    <meta property="og:image" content="INSERTIMAGEURL.jpg" />
    <meta property="og:description" content="{{ site.description }}" />
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}" >
    <link rel="author" href="humans.txt" />
</head>
