/**
 * Media queries for mobile optimization.
 */

/* Removing box shadow */
@media screen and (max-width: 1000px){
    main {box-shadow: none;}
}

/* Making profpic smaller */
@media screen and (max-width: 800px){
    #profpic {max-width: 150px;}
}

/* Adjusting display of blog posts */
@media screen and (max-width: 780px){
    main {
        ul li {

            img {float: none; max-width: 100%;}
        }
    }
}

/* Making title smaller and changing view of blog posts */
@media screen and (max-width: 600px){
    header h1 {font-size: 40px;}

    main {
        ul li {

            img {float: none; max-width: 100%;}
        }
    }
}

/* Removing header and creating mobile-friendly menu */
@media screen and (max-width: 590px){
    header {background-image: none; height: 230px;

        h1 {display: none;}

        nav {padding: 0;
            ul {

                li {display: block; padding: 15px 0 10px 0; border: 1px solid #000; font-size: 24px;
                    text-align: center;}
            }
        }
    }

    #profpic, #profpic_small {padding-top: 15px;}
}

/* Changing place for profilepic, adjusting menu text and making links on homepage bigger */
@media screen and (max-width: 500px){
    #profpic {display: none;}
    #profpic_small {display: none;}

    #mobilepic {display: block; text-align: center;

        img {height: 250px; padding-bottom: 10px;}
    }

    nav ul li {padding: 0;
        a {padding: 0;}
    }

    .latestPosts {padding-bottom: 10px;
        a {font-size: 15px;}
    }

    /* Removing or making padding for different elements smaller */
    #contactImgs {
        p {padding-left: 10px;}
    }

    main img {padding: 0; max-width: 300px;}
}
