<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
<body>
    <div id="wrapper">
        {% include header.html %}
        <main>
            {% if page.title %}
                {{ content }}
            {% else %}
            <div id="mobilepic">
                <img src="{{ site.baseurl }}/img/profpic.jpg" alt="Miranda Hammarstedt">
            </div>
            <div id="contactImgs">
                {{ content }}
            </div>
            <hr>
            <h3 class="center">Latest blog posts:</h3>
            <ul>
                {% for post in site.posts limit:3 %}
                <li class="latestPosts">
                    <p class="date">({{ post.date | date_to_long_string }})</p>
                    <h3>{{ post.title }}</h3>
                    {{ post.excerpt }}
                    <p><em><a href="{{ post.url }}">Read more...</a></em></p>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </main>
        {% include footer.html %}
    </div>
</body>
</html>
