<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div id="wrapper">
    {% include header.html %}
    <main>
        <ul>
            {% for post in site.posts %}
            <li class="post">
                {% if post.image %}
                <img src="{{ site.baseurl }}/img/blog/{{ post.image }}">
                {% endif %}
                <p id="date">Published {{ post.day }} of {{ post.month }}, {{ post.year }}</p>
                <h3>{{ post.title }}</h3>
                {{ post.excerpt }}

                <em><a href="{{ post.url }}">Read more...</a></em>
            </li>
            {% endfor %}
        </ul>
    </main>
    {% include footer.html %}
</div>
</body>
</html>

