---
layout: default
---

{% if page.title == "Blog" %}
    <h1>Blog posts</h1>
    <hr>
    <ul>
        {% for post in site.posts %}
        <li class="post">
            {% if post.image %}
            <img src="{{ site.baseurl }}/img/blog/{{ post.image }}">
            {% endif %}
            <p class="date">Published {{ post.day }} of {{ post.month }}, {{ post.year }}</p>
            <h3>{{ post.title }}</h3>
            {{ post.excerpt }}

            <p><em><a href="{{ post.url }}">Read more...</a></em></p>
        </li>
        {% endfor %}
    </ul>
{% else %}
    {{ content }}
    {% if.page.comments %}
        {% include disqus.html %}
    {% endif %}
{% endif %}
