---
layout: default
---

{% if page.image %}
    <div id="blog-header" style="background-image: url({{ site.baseurl }}/img/blog/{{ page.image }});"></div>
{% endif %}
<div id="blogpost">
    <h1>{{ page.title }}</h1>
    <div id="postinfo">
        <p>Written on the {{ page.day }} of {{ page.month }} {{ page.year }} by {{ site.author }}</p>
    </div>
    {{ content }}
</div>
<a href="{{ page.url }}/blog"><button type="button">Go to top</button></a>
<a href="{{ site.baseurl }}/blog"><button type="button">Back to blog posts</button></a>
<hr>
{% if page.comments %}
    {% include disqus.html %}
{% endif %}

